---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SecondaryHeader from "../components/SecondaryHeader.astro";
import Layout from "../layouts/Layout.astro";

var projects: {
  title: string;
  imageUrl: string;
  description: string;
  technologies: string[];
  isWorkInProgress:boolean
}[] = [
  {
    title: "MK Curtains",
    imageUrl:
      "/images/mk.png",
    description:
      "MK Curatin is the company which is selling the curatins and they have 3-4 branch in costal karnataka, and I made 2 apps for them for moving their paper work to complete digital mode ",
    technologies: ["Flutter", "Dart", "Firebase"],
    isWorkInProgress:false,
  },
  {
    title: "NBF",
    imageUrl:
      "/images/nbf.png",
    description:
      "NBF(Natural Born Foll) is the social media application which is nearly similar to tik-tok and this platform for the comedians they can create the video and reach their audience through this platform. This app is available in both playstore and apple store",
    technologies: ["Flutter", "Dart", "Firebase"],
    isWorkInProgress:false,
  },
  {
    title: "Future Way",
    imageUrl:
      "/images/future_way.png",
    description:
      "Future Way is the online learning platfrom with yearly subscription basis. For them I developed one Mobile App and One website for admin panel.",
    technologies: [
      "Flutter",
      "Dart",
      "Node Js",
      "ExpressJs",
      "MongoDB",
      "React",
    ],
    isWorkInProgress:false,
  },
  {
    title: "Auto Silent",
    imageUrl:
      "/images/autosilent.png",
    description:
      "Auto Silent is the mobile app to silent your mobile on scheduled time. Here user can schedule the time when they want their mobile to enter DND mode and when to off the mode, app will do that dynamically",
    technologies: ["Flutter", "Dart", "Firebase"],
    isWorkInProgress:false,
  },
  {
    title: "Call For Prayer",
    imageUrl:
      "/images/call_for_prayer.png",
    description:
      "Call For Prayer is the app where mosques can record the prayer and schedule the prayer and prayer will play automatically in background at that time without any human intervention.",
    technologies: ["Flutter", "Dart", "Firebase"],
    isWorkInProgress:false,
  },
  {
    title: "ETG Admin",
    imageUrl:
      "/images/etg.png",
    description:
      "ETG is the one of the big organization in Africa. For them I developed the admin panel to manage their mobile app.",
    technologies: ["Flutter", "Dart", "Firebase"],
    isWorkInProgress:false,
  },
  {
    title: "NES-ETS Admin",
    imageUrl:
      "/images/nes.png",
    description:
      "NES-ETS is the school of the Gujarat. And they have app for their school teachers and students. For them I added new features and developed admin panel for cetralized control.",
    technologies: ["Flutter", "Dart", "Firebase"],
    isWorkInProgress:false,
  },
  {
    title: "Instant Gamez",
    imageUrl:
      "/images/instant_gamez.png",
    description:
      "Instant Gamez is the gaming platform.It's in development stage",
    technologies: ["Flutter", "Dart", "MongoDB","ExpressJs","NodeJs"],
    isWorkInProgress:true,
  },
  {
    title: "Grocer Guru",
    imageUrl:
      "/images/grocer_guru.png",
    description:
      "Grocer guru is the app where user can user can order grocery from the shops near to them. This is in development stage.",
    technologies: ["Flutter", "Dart", "MongoDB","ExpressJs","NodeJs"],
    isWorkInProgress:true,
  },
];
---

<Layout title="Projects">
  <main>
    <Header />
    <SecondaryHeader />
    <div
      class="container grid sm:grid-cols-1 md:grid-cols-4 gap-10 cards-container"
    >
      {
        projects.map((project) => (
          <ProjectCard
            description={project["description"]}
            projectImageUrl={project["imageUrl"]}
            title={project["title"]}
            technologies={project["technologies"]}
            isWorkInProgress={project["isWorkInProgress"]}
          />
        ))
      }
    </div>
    <Footer />
  </main>
</Layout>

<style>
  .cards-container {
    background-color: #f7f7f7;
    margin: 2rem;
    padding: 2rem;
  }
</style>
