---
// WRITE JAVASCRIPT HERE
---

<!-- Component Template (HTML + JS Expressions) -->
<div class="mt-5 mx-12 main-container">
  <div class="flex flex-row justify-start">
    <div class="basis-1/2 flex flex-row items-center">
      <p class="left-text mx-1">DESIGNER</p>
      <div class="w-1 h-1 bg-slate-800 rounded-full mx-2"></div>
      <p class="left-text mx-1">DEVELOPER</p>
    </div>

    <!-- RIGHT SIDE HEADER  -->
    <div class="basis-1/2 flex flex-row items-center justify-end">
      <a href="/projects" class="right-text mx-2">PROJECTS</a>
      <a href="/contact" class="right-text mx-2">CONTACT</a>
    </div>
  </div>
</div>

<style>
  :root {
    --link-gradient: linear-gradient(
      45deg,
      #4f39fa,
      #da62c4 30%,
      var(--color-border) 60%
    );
  }

  /* Register our custom font family and tell the browser where to find it. */
  @font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
    font-display: swap;
  }

  .main-container {
    max-width: 100vw;
  }

  .left-text {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: "Roboto Mono";
  }

  .right-text {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: "Roboto Mono";
  }

  @font-face {
    font-family: "Permanent Marker";
    src: url("/fonts/PermanentMarker-Regular.ttf") format("truetype");
    font-display: swap;
  }
</style>
