---
export interface Props {
	title: string;
	description: string;
}
const { title,description } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <p>
    {description}
  </p>
</div>

<style>
  @font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
    font-display: swap;
  }

  div {
    border: 2px solid #f0a500;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-out 100ms; /*  shorthand property for transition-property, transition-duration, transition-timing-function, and transition-delay. */
  }

  div:hover {
    transform: scale(1.06);
  }

  h3 {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    font-weight: 500;
  }

  p{
    font-family: "Roboto Mono";
    font-size: 0.6rem;
    font-weight: 400;
  }
</style>
