---
---

<div>
  <h3>Want To Get In Touch ?</h3>
</div>

<style>
  @font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
    font-display: swap;
  }

  div {
    border: 2px solid #f0a500;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  h3 {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    font-weight: 500;
  }
</style>
