---
---

<main>
  <div class="card-container"></div>
</main>

<style>
  .card-container {
    height: 20rem;
    width: 15rem;
    border: 2px solid #5c5c5c;
    border-radius: 0.5rem;
    transition: transform 0.2s ease-out 100ms; /*  shorthand property for transition-property, transition-duration, transition-timing-function, and transition-delay. */
  }

  .card-container:hover {
    border: 2px solid #f0a500;
    transform: scale(1.06);
  }
</style>
