---
---

<main>
  <div class="grid sm:grid-cols-1 md:grid-cols-2">
    <div class="flex justify-center   ">
      <img src="/images/skill.png" alt="skill" />
    </div>
    <div>
      <h1>Skills</h1>
      <br />
      <br />
      <div class="flex flex-row flex-wrap gap-4">
        <p>Flutter</p>
        <p>Dart</p>
        <p>Python</p>
        <p>React</p>
        <p>Node Js</p>
        <p>React Native</p>
        <p>Astro</p>
        <p>Firebase</p>
        <p>Express Js</p>
        <p>Koa</p>
        <p>AWS</p>
        <p>MongoDB</p>
        <p>DynamoDB</p>
        <p>Neptune</p>
        <p>NextJs</p>
      </div>
    </div>
  </div>
</main>

<style>
  h1 {
    font-family: "Permanent Marker";
    font-size: 2.5rem;
    text-align: left;
    color: #f0a500;
  }

  p {
    font-weight: 400;
    font-family: "Roboto Mono";
    font-size: 0.8rem;
    color: black;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition-duration: 0.5s;
    border: 3px solid #A0D195;
  }

  p:hover {
    background-color: #A0D195;
    color: white;
    border: 3px solid #5c5c5c;
  }

  img{
    height: 20rem;
  }
</style>
